@use 'base/variables' as v;
@use 'base/mixins' as m;

.tickets {
    &__grid {
        @include m.container-sm;
        @include m.grid(1, 5rem);
    }
}
.ticket {
    width: min(100% - 5rem, 65rem);
    margin: 0 auto;
    padding: 6rem;
    border-radius: 2rem;
    color: v.$white;
    position: relative;
    &::before,
    &::after {
        position: absolute;
        content: '';
        background-color: v.$white;
        width: 5rem;
        height: 5rem;
        top: calc(50% - 2.5rem);
    }
    &::before {
        clip-path: circle(50% at 1% 50%);
        left: 0;
    }
    &::after {
        clip-path: circle(50% at 99% 50%);
        right: 0;
    }
    &--onSite {
        background-color:hsla(178,100%,39%,1);
        background-image:
        radial-gradient(at 40% 20%, hsla(209,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 6% 53%, hsla(178,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 100% 1%, hsla(209,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 80% 50%, hsla(178,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(209,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 1% 2%, hsla(178,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 45% 12%, hsla(209,100%,47%,1) 0px, transparent 50%);
    }
    &--virtual {
        background-color: v.$lightBlue;
    }
    &--free {
        background-color: v.$blue;
    }
    &__logo {
        @include m.logo;
        @include m.responsive_text(2rem, 4rem);
    }
    &__plan {
        font-size: 2rem;
        text-transform: uppercase;
        margin: 3rem 0 0 0;
    }
    &__price {
        margin: 3rem 0 0 0;
        font-weight: v.$superBlack;
        font-size: 4rem;
    }
    &__link-container {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
    }
    &__link {
        @include m.button(v.$blue, v.$white);
        width: auto;
    }
}