@use 'variables' as v;

@mixin phone {
    @media (min-width: v.$phone) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin xl_desktop {
    @media (min-width: v.$xl_desktop) {
        @content;
    }
}
@mixin button($bgColor, $textColor) {
    background-color: $bgColor;
    padding: 1.5rem 4rem;
    color: $textColor;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;
    width: 100%;
    display: inline-block;
    &:hover {
        background-color: darken( $bgColor, 10% );
        cursor: pointer;
    }
}
@mixin grid($rows, $space) {
    display: grid;
    gap: $space;
    grid-template-columns: repeat($rows, 1fr);
}
@mixin container {
    width: min(95%, 140rem);
    margin: 0 auto;
}
@mixin container-md {
    width: min(95%, 80rem);
    margin: 0 auto;
}
@mixin container-sm {
    width: min(95%, 60rem);
    margin: 0 auto;
}
@mixin headings {
    font-family: v.$main-font;
    font-weight: v.$superBlack;
    margin: 2rem 0;
}
@mixin name-page {
    @include headings;
    margin: 6rem 0 3rem 0;
    text-align: center;
}
@mixin responsive_text($min, $max) {
    font-size: clamp($min, -0.8rem + 10vw ,$max);
}
@mixin gradient-text($start, $final) {
    background: linear-gradient(to right, $start, $final);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin logo {
    color: v.$white;
    text-align: center;
    margin-bottom: 2rem;
    @include desktop {
        text-align: left;
        margin: 0;
    }
}
@mixin social-menu($color, $size) {
    &__link {
        &::before {
            color: $color;
            size: $size;
            display: inline-block;
            font-style: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 6 Brands";
        }
        &[href*="https://facebook.com"]::before {
            content: "\f39e";
        }
        &[href*="https://github.com"]::before {
            content: "\f09b";
        }
        
        &[href*="https://tiktok.com"]::before {
            content: "\e07b";
        }
        &[href*="https://instagram.com"]::before {
            content: "\f16d";
        }
        &[href*="https://youtube.com"]::before {
            content: "\f167";
        }
        &[href*="https://twitter.com"]::before {
            content: "\f099";
        }
    }
    &__hide {
        display: none;
    }
}
@mixin link {
    all: unset;
    color: v.$white;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: v.$bold;
    &:hover {
        color: v.$blue;
        cursor: pointer;
    }
}
@mixin shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}