@use 'base/variables' as v;
@use 'base/mixins' as m;

.time {
    @include m.reset-list;
    @include m.grid(1, 1rem);
    @include m.tablet {
        @include m.grid(2, 1rem);
    }
    &__hour {
        color: v.$blue;
        border: 1px solid v.$blue;
        border-radius: 1.5rem;
        padding: 1rem;
        text-align: center;
        &:hover {
            cursor: pointer;
        }
        &--selected {
            @extend .time__hour;
            background-color: v.$blue;
            color: v.$white;
        }
        &--disable {
            @extend .time__hour;
            border: 1px solid v.$gray;
            color: v.$gray;
            opacity: 0.5;
            &:hover {
                cursor: not-allowed;
            }
        }
    }
}